<div class="container">
    <div class="button-row">
        <div class="display-button">
            <button pButton (click)="filtrerListe(true)">Actifs</button>
            <button pButton (click)="filtrerListe(false)">Inactifs</button>
            <button pButton (click)="enleverFiltre()">Tous</button>
        </div>
        <button type="text" pButton label="Ajouter personnage" routerLink="/creation"></button>
    </div>
    
    
    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
        <ng-template pTemplate>
            <!-- <app-creation-personnage (nouveauPersonnageCree)="sauvegarderPersonnage($event)"></app-creation-personnage> -->
        </ng-template>
    </p-overlayPanel>
    
    
    
    <app-liste-personnages (statutPersonnageChange)="modifierStatutPersonnage($event)" (personnageSupprime)="supprimerPersonnage($event)" [listePersonnages]="listePersonnagesFiltree"></app-liste-personnages>
</div>